@use "../base/variables" as *;

.home__comercio-card {
  min-width: 120px;
  height: 120px;
  background-color: $color-blanco;
  // border: 2px solid $color-azul;
  // border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.3s ease;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

    img {
      filter: grayscale(0%);
      transform: scale(1.1);
    }
  }
}
.home__comercio-link {
  text-decoration: none;
}
// .home__comercio-logo {
//   max-width: 80%;
//   max-height: 80%;
//   object-fit: contain;
// }

  @keyframes scroll-logos {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
