@use "../base/variables" as *;

.fiesta-card {
  background-color: $color-blanco;
  // border: 2px dashed $color-azul;
  border-radius: 0.5rem;
  padding: $spacing-md;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width:100%;
  height: 100%;
  // max-width: 70%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  // opacity: 0.95;

  &:hover {
    transform: translateY(-5px) rotate(-2deg);
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.15);
  }

  &__image-wrapper {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 0.75rem;
    margin-bottom: 0.75rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__icon {
    width: 150px;
    height: 150px;
    margin: 0 auto $spacing-sm auto;
    // border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &__title {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 2rem;
    color: $color-azul;
    margin: 0;
  }

  &__date {
    font-size: 2rem;
    font-weight: 700;
    color: $color-rojo;
   
  }
}
